<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Bot Whats app con inteligencia artificial</h2>
                <p>Se trabaja en conjunto con otros programadores en la creacion y actualizacion de web hooks con bots de inteligencia artificial mediante flujo de conversacion o dialogflow de google </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://github.com/leifermendez/bot-whatsapp/graphs/contributors" target="_blank"><img src="../../../assets/botwhatsapp.png" class="img-fluid img-proyecto"></a>
            </div>
        </div>
    </div>
</div>
